fastapi
uvicorn
sqlalchemy
mysql-connector-python
passlib[bcrypt]
python-dotenv
pydantic<2.0
beanie
motor
fastapi-jwt-auth
itsdangerous
python-multipart
pytest
httpx==0.27.0 # Pin version for compatibility
pytest-asyncio # For async tests
respx # For mocking HTTP requests (like MongoDB if not using a test DB)
asynctest # For mocking async functions/methods
email-validator # Required for Pydantic EmailStr validation